.top-nav{
	
	background    	: var(--color-first);
	position      	: fixed;
	top           	: 0;
	width         	: 100%;
	left          	: 0;
	display 		: flex;
	justify-content : center;
	z-index			: 1;
	color			: white;

	&__container{
		display 		: flex;
		align-items: center;
		justify-content : space-between;
		height        	: var(--header-height);
		width: 100%;
		max-width: 1600px;
		padding: 0 15px;
	}
	&__align{
		display: flex;
		flex-wrap: nowrap;
		padding-right: 1rem;
	}

	&__link{
		align-self: center;
	}
	&__logo{
		padding-left: 1rem;
		height: 1.1rem;
		width: auto;
		display: block;
		min-width: 101px;
		min-height: 82.72px;
		@include from(lg){
			height: 1.4rem;
		}
	}
	&__menu{
		@include fromTo(s,lg){
			position 		: fixed;
			padding 		: 0 10px;
			height 			: 100vh;
			width 			: 260px;
			background 		: var(--color-first);
			transition 		: right .5s;
			overflow-y 		: auto;
			top 			: var(--header-height);
			right 			: -260px;
			&.show-top-nav {
				left 		: 0;
			}
		}
		@include from(lg){
			align-self: center;
			margin: 0;
			padding: 0;
		}
	}
	&__li{
		@include fromTo(s,lg){
			display: block;
			// border-bottom: 1px solid #DFE0E0;
			padding: 10px 0;
			margin: 0;
			
		}
		margin-left: 1em;
		list-style-type: none;
		display: inline-block;

	}
	&__anchor:hover{
		text-decoration: none;
		color: #ff9c00 ;
	}
	&__anchor{
		@include fromTo(s,lg){
			display: block;
		}
		@include from(lg){
			border-right: 1px solid white;
			padding-right: .5rem;
		}

	}

	&__mb-iconMenu {
		position: relative;
		align-self: center;
		top: 3px;
		padding: 0;
		span{
			&.hamburger-inner{
				background: rgb(255, 255, 255);
				&::after{}
				&::before{}
				&::after, &::before{
					background: rgb(255, 255, 255);
				}
			}
		}
		&:focus {
			outline: 0 !important;
			-moz-outline-style: none !important;
			outline: thin dotted;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
		@include from(lg){
			display: none;
		}
	}

}
