div(class='container ed-container ed-grid  s-grid-1 lg-grid-4 rows-gap cols-gap')
	div(class='container__slider lg-cols-3')
		div(class='tns-single' id='tnsSingle')
			div: div(class='tns-single__content'): img(src="https://betfran.com/assets/images/betfran/Sliders/banner-Road.jpg", class="img-fluid altura" , alt="")
			div: div(class='tns-single__content'): img(src="https://betfran.com/assets/images/betfran/Sliders/banner-clsop-league-1920x450.jpg", class="img-fluid altura", alt="")
			div: div(class='tns-single__content'): img(src="https://betfran.com/assets/images/betfran/Sliders/slider000.jpg", class="img-fluid altura", alt="")
	div(class='container__signup s-y-2 s-x-1 lg-y-1 lg-x-4')
		div(class = "login")
			div(class = "login__align")
				label Usuario: 
				input(type="text" class="login__input-label")
			div(class = "login__align") 
				label Contraseña: 
				input(type="text" class="login__input-label")
			
			div(class = "login__btn") 
				button(class="btn btn__login") INGRESAR
				button(class="btn btn__register") REGISTRATE
			div(class = "login__forgot") 
				a(href="") ¿Olvidó su contraseña?