div(class='container')
	div(class='container__slider')
		div(class='tns-single' id='tnsSingle')
			div: div(class='tns-single__content'): span tns Single 1
			div: div(class='tns-single__content'): span tns Single 2
			div: div(class='tns-single__content'): span tns Single 3
	div(class='container__signup')
		h2 hola