div(class = "login")
	div(class = "login__align")
		label Usuario: 
		input(type="text" class="login__input-label")
	div(class = "login__align") 
		label Contraseña: 
		input(type="text" class="login__input-label")
	div(class = "login__btn") 
		button(class="btn btn__login") INGRESAR
		button(class="btn btn__register") REGISTRATE
	div(class = "login__forgot") 
		a(href="") ¿Olvidó su contraseña?